*,
root {
  margin: 0;
  padding: 0;
  background-color: black;
  color: while;
  --darkest: #000000;
  --dark: #464866;
  --neutral: #aaabb8;
  --light: #2e9cca;
  --lightest: #29648a;
}

.black {
  background-color: var(--darkest);
  color: var(--neutral);
}

.light {
  background-color: var(--lightest);
  color: var(--light);
}

#container {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: gray;
  color: var(--neutral);
  border: 1px solid var(--light);
  border-radius: 5px;
}

#left-panel {
  background-color: var(--dark);
  border: 1px solid var(--light);
  border-radius: 5px;
  width: 10em;
}

#feed {
  background-color: var(--dark);
  border: 1px solid var(--light);
  border-radius: 5px;
}

#right-panel {
  background-color: var(--dark);
  border: 1px solid var(--light);
  border-radius: 5px;
  width: 10em;
}
